body {
    overflow-x: hidden;
}

#titleAttribution {
    text-align: center;
    margin-top: 5%;
}


#tableAttribution {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 15%;
    margin-top: 5%;
    background-color: #ced5dc;
}

.thAttribution {
    font-size: 25px;
}

.overflow {
    height: 500px;
    overflow: auto;
}

.droptarget {
    height: 70px;
    border: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
}

.targetText {
    padding: 20px;
}

.tdAttribution {
    font-size: 22px;
}