.logo{


	width: 25%;
}

#nav{


	background-color: #23272d;
	border-bottom: 1px solid #aa956f;


}



.colorLink{


	color: #FFFFFF !important;
	font-family: Raleway;
	font-size: 15px;


}

.active{

	color: #aa956f !important;
}


.colorLink:hover{

	color: #aa956f !important;

}

#btnLogin {

	background-color:#aa956f;
	color: #FFFFFF;
	

}

.masthead{

/*
	background-image:url(../img/test.jpg);
	background-size: cover;
	background-position: center;*/
	background-color:#23272d; 
	height: 400px;
}


.title{

	font-family: Raleway;
	color: #000000;
	padding-top: 70px;

}

.hr{

	width: 5%;
    border: 1px solid #aa956f;
}

.containAboutUs{

	font-size: 18px;
	font-family: Raleway;
}



